<head>
<title>Sentiment Analysis Model</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>

<body>
    <h2 class="text-center">Sentiment Analysis</h2>
    <form class="form-horizontal" method = 'POST' action = 'predict'>
    
    <div class="col-md-6">
        <div class="form-group">
        <label class="control-label col-sm-2">Enter your text here:</label>
        <div class="col-md-6">
            <textarea type="text" name ='text' class="form-control" rows="5"></textarea>
        </div>
        </div>
    </div>


    <div class="text-center">
        <button class="btn btn-primary waves-effect waves-light " id="btn-submit">Submit</button>
    </div>
    <input type="hidden" name="action" id="action" value="event_dialog_add_newpartnerdata" />
    </form>
</body>